<div id="form-con" class = "container mt-2">
  <div class="row">
    <div class="col">
      <h1 class="mx-auto my-0"><%=t('form1.upl') %> </h1>
        <%= form_tag("/file/uploadFile", method: "post", multipart: true) do %>
        <div class="form-group">
          <label for="isEncrypt"><%=t('form1.what') %></label>
          <%= select_tag(:isEncrypt, options_for_select([[t('form2.encrypt'), 1], [t('form2.decrypt'),  2]]), class:"form-control") %>
        </div>
        <div class="form-group">
          <label for="selectedFile"><%=t('form1.file') %> (maximum 50 MB)</label>
          <%= file_field 'selectedFile', 'datafile', class:'form-control-file', :required=>true, onchange: "validateFiles(this);", data: { max_file_size: 50.megabytes } %>
        </div>
        <div class="form-group">
          <label for="passw1"><%=t('form1.pas1') %></label>
          <%= password_field_tag 'passw1',nil,  class:'form-control', :required=>true %>
        </div>
        <div class="form-group">
          <label for="passw2"><%=t('form1.pas2') %></label>
           <%= password_field_tag 'passw2',nil,  class:'form-control', :required=>true  %>
        </div>
        <div class="form-group">
          <%= submit_tag(t('form1.upl'),class: "btn btn-primary" ) %>
        </div>
          <% flash.each do |key, value| %>
              <div class="alert alert-danger" role="alert">
                <%= value %>
              </div>
          <% end %>
      <%end%>
    </div>
  </div>
</div>
