<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <% if user_signed_in? %>
          <h1 class="mx-auto my-0 text-uppercase"><%=t('home.title') %></h1>
          <p><%=t('home.pm') %></p>
          <a href="/file/uploadUserFile" class="btn btn-primary js-scroll-trigger"><%=t('menu.upld') %></a>
      <%else %>
        <h1 class="mx-auto my-0 text-uppercase">File Store X</h1>
        <p class="text-grey-10 mx-auto mt-2 mb-5"><%=t('home.p1') %></p>
        <a href="/file/upload" class="btn btn-primary js-scroll-trigger"><%=t('menu.upld') %></a>
      <%end%>
    </div>
  </div>
  </header>