<div class="col-md-12">
  <h4>My Files</h4>
  <div class="table-responsive">


    <table id="mytable" class="table table-bordred table-striped">

      <thead>

      <th>File name</th>
      <th>Password</th>
      <th>Status</th>
      <th>URL</th>
      <th>Delete</th>
      </thead>
      <tbody>

      <% @list.each do |l| %>
        <tr>
          <td><%=l.path%></td>
          <td><%=l.password%></td>
          <td><%=l.status%></td>
          <td><%= link_to 'Link to file', {:controller => "file", :action => "show", :file_id => l.id}%></td>
          <td><%= button_to 'Delete', {:controller => "file", :action => "deleteFile", :file_id => l.id, :user_id=> session[:user_id]} , method: :post%></td>
        </tr>
      <%end%>
      </tbody>

    </table>




  </div>

</div>
</div>
</div>

