<div class="col-md-12">
  <h4><%=t('files.myFiles') %></h4>
  <div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
      <thead>
        <th>ID</th>
        <th><%= t('files.fName') %></th>
        <th><%= t('form1.pas1') %></th>
        <th><%= t('files.stat') %></th>
        <th>URL</th>
        <th><%=t('files.down') %></th>
        <th><%=t('files.delete') %></th>
      </thead>
      <tbody>
        <% @list.each do |l| %>
          <tr>
            <td><%=l.id%></td>
            <td><%if l.path.end_with?'.bin'%>
                  <%=File.basename(l.path)[0...File.basename(l.path).index('.bin')] %>
                <%else%>
                  <%=File.basename(l.path)%>
                <%end%>
            </td>
            <td><%=l.password%></td>
            <td><% if l.downloadedNum > 0 %>
                    <%=l.status%> <%=l.downloadedNum%> <%=t('files.times') %>
                <%else%>
                    <%=l.status%>
                <%end%>
            </td>
            <td><%= link_to 'Link', {:controller => "file", :action => "show", :file_id => l.id}%></td>
            <td><%if l.path.end_with?'.bin'%>
                    <%= button_to t('files.down2'), {:controller => "file", :action => "downloadEnc",:file_id => l.id, :user_id=> session[:user_id]} , method: :post%>
                <%else%>
                    <p>Not available for old files</p>
                <%end%>
            </td>
            <td><%= button_to t('files.delete'), {:controller => "file", :action => "deleteFile", :file_id => l.id, :user_id=> session[:user_id]} , method: :post%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

