<!DOCTYPE html>
<html>
  <head>
    <title>FileStoreX</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">FileStoreX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav m-auto">
          <li class="nav-item m-auto">
            <a class="nav-link" href="/file/upload">Encrpyt/Decrypt</a>
          </li>
          <%if user_signed_in? %>
          <li class="nav-item m-auto">
            <a class="nav-link" href="/">Upload a file</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link" href="/">My Files</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link" href="/">Messages</a>
          </li>
          <%end%>
        </ul>



        <ul class="navbar-nav m-auto">
          <%if !user_signed_in? %>
          <li class="nav-item m-auto">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link" href="/users/sign_up">Register</a>
          </li>
          <%else%>
          <li class="nav-item m-auto">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
          <%end%>
        </ul>

      </div>
    </div>
  </nav>




  <div class="container body-content">
    <br><br><br>
    <%= yield %>
    <hr />
    <footer class="page-footer font-small cyan darken-3">

      <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://github.com/pmate955/FileStoreX"> File Store X project - SZTE - Mate Pinter </a>
      </div>
    </footer>
  </div>



  </body>
</html>
